img
{
border:1px solid black;
}
#product-name img
{
border-radius:10px;
margin-top:10px;
width:95%;
height:300px;
text-align:center;
}
#product-name
{
display:inline-block;
}
table,td,tr,th
{
border:1px solid black;
border-collapse:collapse;
margin:10px;
}
#product-name
{
display:flex;
flex-wrap:wrap;
justify-content:center;
}
.y:hover
{
color:black;
}
.mobile
{
width:250px;
height:500px;
border:3px solid black;
margin:10px;
background-color:white;
color:purple;
font-size:60%;
border-radius:20px;
}
.mobile:hover
{
border:2px dashed black;
}
.z
{
width:100%;
background-color:#F45907;
color:white;
text-align:center;
padding-top:30px;
padding-bottom:30px;
border-radius:20px;
}
.y
{
background-color:#B5280A;
color:white;
display:block;
width:90%;
margin-left:5%;
margin-right:5%;
height:40px;
border-radius:10px;
}
body
{
background-color:#BEB5CA;
}
.x
{
background-color:black;
color:white;
width:80px;
margin:5px;
height:30px;
border-radius:10px;
}
.x:hover
{
color:white;
background-color:purple;
}

#w
{
background-color:#F45907;
color:white;
border-radius:10px;
padding:10px;
}
#v
{
margin-left:10%;
margin-right:10%;
}
.c
{
margin:10px;
}
